.statistics {
  width: 450px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 10px;
  text-align: center;

  border: 1px solid darkgray;
  border-radius: 5px;
  background-color: #eee;
}

.title {
  margin: 0px 0px 15px 0px;

  font-size: 20px;
  font-weight: 500;
}

.stat-list {
  display: flex;
  justify-content: space-between;
}

.stat-list .item {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 70px;
  height: 70px;

  border-radius: 5px;
}

.stat-list .label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  height: 1.5em;

  font-size: 16px;
  font-weight: 500;

  background-color: #ddd;
  border-radius: 7px;
}

.stat-list .percent {
  margin-top: 5px;
  font-weight: 500;
}
